body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

.content {
  padding: 20px;
}

.filter-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filter-form input {
  margin-left: 10px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
