.live-conditions {
    padding: 20px;
    background: linear-gradient(120deg, #f5d547, #eeeeee);
    color: #333;
    border-radius: 10px;
    text-align: left;
  }
  
  .live-conditions h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: #3bc9a7;
    text-align: center;
  }
  
  .conditions-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .irradiance-section, .meteorological-section {
    flex: 1;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .irradiance-section h2, .meteorological-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: #cb4900;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
  }
  